#show-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 5px 15px gray;
  }

  #top-side{
    display: flex;
  }
  
  #image-container {
    width: 260px;
    text-align: center;
    background-color: var(--bg-color);
    padding: 5px;
    position: relative;
  }

  #rating-fav{
    position: absolute;
    top: 0px;
    left: -5px;
  }
  
  #image-container img {
    width: 250px;
  }
  
  #details-container {
    font-family: 'regular';
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #details-container p {
    margin: 5px 0;
  }
  
  .detail-title {
    font-family: 'title';
  }

  #bottom-side {
    margin: 15px 0;
    font-family: 'regular';
    text-align: justify;
  }
  
  #backlink {
    display: block;
    background-color: var(--btn-color);
    color: #fff;
    font-family: 'title';
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    bottom: 0;
    margin-left: auto ;
  }

@media screen and (max-width: 800px){
  #show-container{
    width: 90%;
}
}

@media screen and (max-width: 650px) {
    #show-container{
        width: 90%;
    }

    #top-side{
        flex-direction: column;
    }
    
    #details-container{
      padding: 5px;
    }

    #image-container{
        width: 100%;
        margin: 0 auto;
    }

    #image-container img{
        width: 100%;
    }

    #bottom-side{
        padding: 0 5px;
    }
}
  