/* body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/login_hero.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-login{
  border: 1px solid #272727;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-family: 'title';
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    background-color: #ececec;
    color: #333;
    cursor: pointer;
  }
  
  .login-button img {
    width: 30px;
    border-right: 1px solid #999;
    padding-right: 5px;
  }

  .login-button span {
    margin: 0 auto;
  }